/* Box Model Hack */
/* remember this makes browser include padding and border in the calculation of element size so it stays fixed to the size you define */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background: rgb(0, 0, 0);
}

/******************************************
/* LAYOUT
/*******************************************/
header {
}

footer {
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.logo__container {
  position: relative; /* REQUIRED */
  max-width: 1000px;
  margin: 0 auto;
}

/* used this to put vertical line centered in container to see if logos were centered or not to remove initial space to the right side */
/* .logo__container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  background: red;
  pointer-events: none;
} */

.name__logo {
  width: min(90%, 1000px);
  height: auto;
  display: block;
  margin: 0 auto;
}

.pillar {
  width: min(90%, 1000px);
  height: auto;
  display: block;
  margin: 0 auto;
}

.initial__nav__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 2%;
}
.instagram__logo {
  height: 28px;
  width: auto;
  display: block;
  margin: 0 5px;
}

.email__logo {
  height: 28px;
  width: auto;
  display: block;
  margin: 0 5px;
}
